:root {
  /* color-schema: light dark; */

  --clr-neutral-100: #fbfcfd;
  --clr-neutral-300: #eae5d8;
  --clr-neutral-400: #b3ab97;
  --clr-neutral-700: #564F41;
  --clr-neutral-900: #181108;
  --clr-primary-400: #6a53b6;
  --clr-secondary-400: #953f08;

  --fs-200: 0.9rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.553rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  --fs-900: 3.815rem;

  /* System font stacks courtesy of https://modernfontstacks.com */
  --ff-body: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --ff-heading: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --ff-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --ff-test: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --ff-test2: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  grid-template-columns: auto [content-start] min(62.5rem, calc(100vw - 2rem)) [content-end] auto;
  grid-template-rows: auto [main-start] 1fr [main-end] auto;
  row-gap: 6rem; /* FIXME: not a good way to place the main content "a bit above the vertical middle */

  min-height: 100svh;
  margin: 0 auto;
  
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-heading);
  line-height: 1.1;
  color: var(--clr-neutral-900);
}

h1 {
  font-size: var(--fs-800);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

a {
  color: currentcolor;
}

header {
  --slant-width: 1em;
  
  position: relative;
  isolation: isolate;
  
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  
  
  font-family: var(--ff-heading);
  font-weight: 500;
  text-underline-position: under;
  
  /* background: var(--clr-primary-400); */
  color: var(--clr-neutral-100);
  
  & nav {
    grid-area: content;
  }
  
  & h1 {
    margin-block: 0;
  }
  
  & nav {
    padding: var(--slant-width);
    background: var(--clr-primary-400);
    
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - var(--slant-width)),
      calc(100% - var(--slant-width)) 100%,
      var(--slant-width) 100%,
      0% calc(100% - var(--slant-width))
    )
  }
  
  & ul {
    justify-content: space-evenly;
  }
  
  & li {
    position: relative;
  }
  
  & li:hover:after {
    content: "grainy dinosaurs";
    position: absolute;
    z-index: -1;
    color: var(--clr-neutral-300);
    left: 50%;
    transform: translateX(-50%) translateY(1lh);
    width: max-content;
    font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  }
  
  &:after {
    content: '';
    position: absolute;
    inset: 0 0 var(--slant-width);
    
    z-index: -1;
    background: var(--clr-primary-400);
  }
}

main {
  grid-area: main / content;
  
  display: grid;
  column-gap: 2rem;
  grid-template-rows: [picture-start] auto 1fr auto [picture-end];
  grid-template-columns: minmax(35ch, 70ch) [picture-start] auto [picture-end];
  align-items: start;
  
  height: max-content;
  
  & picture {
    grid-area: picture;
    object-fit: cover;
    
    display: block;
    
    /* border: 1px solid var(--clr-neutral-300); */
  }
  
  & img {
    display: block;
  }
  
  & em > strong {
    font-size: var(--fs-700);
  }
  
  & em {
    color: var(--clr-primary-400);
    font-style: normal;
  }
}

#contact-links {
  --list-gap: 2em;
  
  justify-self: center;
  
  & a {
    display: block;
    
    width: 3em;
    height: 3em;
  }
  
  & a:is(:hover, :active) .bi-mastodon {
    fill: url(#mastodon-gradient);
  }
  
  & a:is(:hover, :active) .bi-github {
    fill: #24292f;
  }
  
  & a:is(:hover, :active) .bi-linkedin {
    fill: #0077B5;
  }
  
  & a:is(:hover, :active) .bi-rss-fill {
    fill: url(#rss-gradient);
  }

  
  & svg {
    width: 100%;
    height: 100%;
  }
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-gap, 1em);
  
  
  list-style: none;
  margin: 0;
  padding: 0;
}

.slanted-border {
  --cutoff-width: 1rem;
  --border-width: calc(var(--cutoff-width) / 8);
  --border-color: var(--clr-primary-400);
  --background-color: color(srgb 0.9725 0.9726 0.9727); /* picture background color */
  
  position: relative;
  isolation: isolate;
  
  padding-block: var(--border-width);
  padding-inline: calc(var(--cutoff-width) + var(--border-width));
  
  &:before {
    position: absolute;
    content: '';
    display: block;
    z-index: -2;
    
    inset: 0;
    background: var(--border-color);
    
    /* slanted shape */
    clip-path: polygon(
      var(--cutoff-width) 0%,
      100% 0%,
      100% calc(100% - var(--cutoff-width)),
      calc(100% - var(--cutoff-width)) 100%,
      0 100%,
      0% var(--cutoff-width)
    );
  }
  
  &:after {
    --small-cutoff-width: calc(var(--cutoff-width) - (var(--border-width) * 0.4142)); /* .04142 = tan(45 / 2) */
    
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    
    inset: var(--border-width);
    background: var(--background-color);
    
    /* slanted shape */
    clip-path: polygon(
      var(--small-cutoff-width) 0%,
      100% 0%,
      100% calc(100% - var(--small-cutoff-width)),
      calc(100% - var(--small-cutoff-width)) 100%,
      0 100%,
      0% var(--small-cutoff-width)
    );
  }
}
