:root {
  /* TODO: color-schema: light dark; */

  --clr-neutral-100: #fbfcfd;
  --clr-neutral-300: #eae5d8;
  --clr-neutral-400: #b3ab97;
  --clr-neutral-700: #564F41;
  --clr-neutral-900: #181108;
  --clr-primary-400: #f29f05;
  --clr-secondary-400: #953f08;

  --fs-200: 0.9rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.553rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  --fs-900: 3.815rem;

  /* System font stacks courtesy of https://modernfontstacks.com */
  --ff-body: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --ff-heading: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --ff-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  
  --link-color: var(--clr-primary-400);
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  grid-template-columns: auto [content-start] min(62.5rem, calc(100vw - 2rem)) [content-end] auto;
  grid-template-rows: auto [main-start] 1fr [main-end] auto;
  row-gap: 6rem; /* FIXME: not a good way to place the main content "a bit above the vertical middle */

  min-height: 100svh;
  margin: 0 auto;
  
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-heading);
  line-height: 1.1;
  color: var(--clr-neutral-900);
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-800);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

p {
  text-wrap: pretty;
}

a {
  color: var(--link-color)
}

a.footnote {
  font-size: 80%;
}

pre.highlight {
  overflow-x: auto;
  margin: 1em;
}

pre, code {
  font-family: var(--ff-code);
  font-size: 90%; /* compensating for the large glyphs that fonts in the monospace stack tend to have */
  color: var(--clr-secondary-400);
}


body > header {
  --slant-width: 1em;
  --background: var(--clr-neutral-900);
  --link-color: currentcolor;
  
  position: relative;
  isolation: isolate;
  
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  
  
  font-family: var(--ff-heading);
  font-weight: 500;
  text-underline-position: under;
  
  /* background: var(--clr-primary-400); */
  color: var(--clr-neutral-100);
  
  & nav {
    grid-area: content;
  }
  
  & h1 {
    margin-block: 0;
  }
  
  & nav {
    padding: var(--slant-width);
    background: var(--background);
    
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - var(--slant-width)),
      calc(100% - var(--slant-width)) 100%,
      var(--slant-width) 100%,
      0% calc(100% - var(--slant-width))
    )
  }
  
  & ul {
    justify-content: space-evenly;
  }
  
  &:after {
    content: '';
    position: absolute;
    inset: 0 0 var(--slant-width);
    
    z-index: -1;
    background: var(--background);
  }
}

main {
  grid-area: main / content;
  
  display: grid;
  column-gap: 2rem;
  grid-template-rows: [picture-start] auto 1fr auto [picture-end];
  grid-template-columns: minmax(35ch, 70ch) [picture-start] auto [picture-end];
  align-items: start;
  
  height: max-content;
  
  & picture {
    grid-area: picture;
    object-fit: cover;
    
    display: block;
  }
  
  & img {
    display: block;
  }
  
  & em.spotlight {
    color: var(--clr-primary-400);
    font-style: normal;
    white-space: nowrap;
    
    > strong {
      font-size: var(--fs-700);
    }
  }
}

/* Footer */
footer {
  grid-column: 1 / -1;
  
  border-top: 1px solid var(--clr-neutral-300);
  color: var(--clr-neutral-400);
  font-size: var(--fs-300);
}

.footer-links {
  list-style: none;
  padding-inline-start: 0;
  text-align: end;
  display: flex;
  justify-content: start;
  gap: 0.5em;
}

.footer-links a {
  color: currentcolor;
}

.footer-links a:is(:hover, :active) .bi-mastodon {
  fill: url(#mastodon-gradient);
}

.footer-links a:is(:hover, :active) .bi-github {
  fill: #24292f;
}

.footer-links a:is(:hover, :active) .bi-linkedin {
  fill: #0077B5;
}

.footer-links a:is(:hover, :active) .bi-rss-fill {
  fill: url(#rss-gradient);
}

@media screen and (min-width: 320px) {
  .site-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-links {
    justify-self: end;
  }
}




#contact-links {
  --list-gap: 2em;
  
  justify-self: center;
  
  & a {
    display: block;
    
    width: 3em;
    height: 3em;
  }
  
  & a:is(:hover, :active) .bi-mastodon {
    fill: url(#mastodon-gradient);
  }
  
  & a:is(:hover, :active) .bi-github {
    fill: #24292f;
  }
  
  & a:is(:hover, :active) .bi-linkedin {
    fill: #0077B5;
  }
  
  & a:is(:hover, :active) .bi-rss-fill {
    fill: url(#rss-gradient);
  }

  
  & svg {
    width: 100%;
    height: 100%;
  }
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-gap, 1em);
  
  
  list-style: none;
  margin: 0;
  padding: 0;
}

.slanted-border {
  --cutoff-width: 1rem;
  --border-width: calc(var(--cutoff-width) / 8);
  --border-color: var(--clr-primary-400);
  --background-color: color(srgb 0.9725 0.9726 0.9727); /* picture background color */
  
  position: relative;
  isolation: isolate;
  
  padding-block: var(--border-width);
  padding-inline: calc(var(--cutoff-width) + var(--border-width));
  
  &:before {
    position: absolute;
    content: '';
    display: block;
    z-index: -2;
    
    inset: 0;
    background: var(--border-color);
    
    /* slanted shape */
    clip-path: polygon(
      var(--cutoff-width) 0%,
      100% 0%,
      100% calc(100% - var(--cutoff-width)),
      calc(100% - var(--cutoff-width)) 100%,
      0 100%,
      0% var(--cutoff-width)
    );
  }
  
  &:after {
    --small-cutoff-width: calc(var(--cutoff-width) - (var(--border-width) * tan(22.5deg)));
    
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    
    inset: var(--border-width);
    background: var(--background-color);
    
    /* slanted shape */
    clip-path: polygon(
      var(--small-cutoff-width) 0%,
      100% 0%,
      100% calc(100% - var(--small-cutoff-width)),
      calc(100% - var(--small-cutoff-width)) 100%,
      0 100%,
      0% var(--small-cutoff-width)
    );
  }
}

#grainy-dinosaur {
  gap: 1rem; /* override */
  
  & main {
    grid-template-columns: minmax(35ch, 70ch);
    justify-content: center;
    
    container: main / inline-size;
  }
  
  & .heading {
     letter-spacing: .05em;
     text-transform: uppercase;
     margin-bottom: 0.5em;
     text-align: center;
     
     @container main (width < 400px) {
       text-align: left;
     }
  }
  
  /* & :is(h1, h2, h3, h4, h5, h6) + p {
    margin-top: 0;
  } */
}


.posts-list {
  list-style: none;
  padding-inline-start: 0;
  margin-inline: auto;
  
  /* should also be .post.list-item */
  & > li {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.post-categories {
  --gap: 0.25em;
  
  align-self: center;
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  gap: var(--gap);
  
  /* add commas between categories on large enough screens */
  @container main (width > 400px) {
    & li:not(:last-of-type):has(> .post-category-link) .post-category-link::after {
      content: ",";
      margin-left: calc(-1*var(--gap));
    }
  }
}

.post-link {
  grid-column: 1 / -1;
  
  color: var(--clr-neutral-900);
}

.post-category-link {
  &[data-category='books']       { --category-icon: url(../assets/blog/book.svg); }
  &[data-category='games']       { --category-icon: url(../assets/blog/controller.svg); }
  &[data-category='miscellanea'] { --category-icon: url(../assets/blog/bookmarks.svg); }
  &[data-category='movies']      { --category-icon: url(../assets/blog/film.svg); }
  &[data-category='music']       { --category-icon: url(../assets/blog/vinyl-fill.svg); }
  &[data-category='podcasts']    { --category-icon: url(../assets/blog/mic-fill.svg); }
  &[data-category='programming'] { --category-icon: url(../assets/blog/code-slash.svg); }
  &[data-category='ttrpg']       { --category-icon: url(../assets/blog/dice-6-fill.svg); }
  &[data-category='tv']          { --category-icon: url(../assets/blog/tv-fill.svg); }
  
  color: var(--clr-primary-400);
  font-family: var(--ff-heading);
  font-size: var(--fs-200);
  vertical-align: text-top;
  
  @container main (width < 400px) {
    /* hide the category's name */
    &:is([data-category]) span {
      display: none;
      width: 0;
      height: 0;
      position: absolute;
    }
    
    /* add a category icon */
    &:is([data-category])::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1.25em;
      aspect-ratio: 1;
      background-color: var(--clr-primary-400);
      mask: var(--category-icon) center / contain;
    }
  }
}

.post-meta {
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);
}

/* individual post */
article.post {
  counter-reset: headings;
  
  & header {
    margin-block: 2em 1em;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  
  .post-title {
    margin-block: 0;
  }
  
  .post-header .post-meta {
    margin-block: 0;
    align-self: center;
    color: var(--clr-primary-400);
  }
  
  & h3 {
    position: relative;
  }
  
  & h3:nth-last-of-type(1)  { --n: 1 }
  & h3:nth-last-of-type(2)  { --n: 2 }
  & h3:nth-last-of-type(3)  { --n: 3 }
  & h3:nth-last-of-type(4)  { --n: 4 }
  & h3:nth-last-of-type(5)  { --n: 5 }
  & h3:nth-last-of-type(6)  { --n: 6 }
  & h3:nth-last-of-type(7)  { --n: 7 }
  & h3:nth-last-of-type(8)  { --n: 8 }
  & h3:nth-last-of-type(9)  { --n: 9 }
  & h3:nth-last-of-type(10) { --n: 10 }
  
  & h3::after {
    --gap: 0.125ch;
    --base-width: 0.25ch;
    --width: calc(var(--n, 0) * (var(--base-width) + var(--gap)));
    
    display: block;
    content: '';
    position: absolute;
    
    width: var(--width);
    height: 40%;
    
    top: 10%;
    left: calc(-1*(var(--width) + 0.3ch));
    
    background: repeating-linear-gradient(
      to right,
      var(--clr-primary-400),
      var(--clr-primary-400) var(--base-width),
      transparent var(--base-width),
      transparent calc(var(--base-width) + var(--gap))
    );
  }
  
  /* underscore-like variant when the margins are less than 5ch each (the content being 70ch max) */
  @container main (width < 80ch) {
    & h3::after {
      --base-width: 2ch;
      
      left: initial;
      top: initial;
      bottom: -30%;
      height: 10%;
    }
  }
  
  & hr:has(+ div.footnotes) {
    border: none;
    margin: 2em 0 0;
  }
  
  & hr:has(+ div.footnotes):after {
    content: '⧸⧸⧸⧸⧸';
    display: block;
    text-align: start;
    vertical-align: middle;
    color: var(--clr-primary-400);
    font-weight: bold;
  }
  
  & div.footnotes {
    font-size: var(--fs-300);
    color: var(--clr-neutral-700);
  }
  
  & div.footnotes ol {
    margin-block: 0;
    padding-left: 3ch;
  }
  
  & div.footnotes li p {
    margin-block: 0.25em;
  }
}

/* Extras for Rouge */
.highlight .gp {
  color: var(--clr-primary-400);
}
