:root {
  color-schema: light dark;

  --clr-neutral-100:#eef4f8;
  --clr-neutral-900: #000102;
  --clr-primary-400: #5790ba;
  --clr-secondary-400: #ba8157;

  --fs-200: 0.563rem;
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-600: 1.777rem;
  --fs-900: 4.209rem;

  --ff-body: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  --ff-heading: 'Nimbus Mono PS', 'Courier New', monospace;
  --ff-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  
  --title-left-margin: 2ch;
}

/* TODO: use an image instead? */
@font-face {
  font-family: "PragRoman";
  src: url('../assets/PragRoman.ttf');
}

h1 {
  font-family: "PragRoman";
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-neutral-900: #03070d;
    --clr-neutral-100: #eef4f8;
    /* --clr-primary-400: TODO; */
    /* --clr-secondary-400: TODO; */
  }  
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-size: 150%;
}

body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 1.6;

  margin: 0;

  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: grid;
  grid-auto-flow: row;
  padding-inline: 3ch;
}

h1 {
  display: inline-block;
  position: relative;
  
  margin-inline-start: var(--title-left-margin);
  margin-block-end: 3em;
  
  line-height: 1;
}

h1::before, h1::after {
  display: block;
  position: absolute;
  height: 100%;
  content: "";
}

h1::before {
  left: -1ch;
  right: -1ch;
  z-index: -1;
  background-color: var(--clr-neutral-100);
}

h1::after {
  top: 0;
  left: calc(-1 * var(--title-left-margin));
  width: 100vw;
  z-index: -2;
  
  background-color: var(--clr-primary-400);
}

a {
  color: var(--clr-secondary-400);
  
  &.footnote {
    font-size: 80%;
    text-decoration: none;
  }
}

p {
  max-width: 70ch;
  margin: auto;
  text-align: center;
}

strong {
  color: var(--clr-primary-400);
}

#people {
  margin-block: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  & img {
    border-radius: 50%;
    border: 8px solid var(--clr-primary-400);
    width: 100%;
    max-width: 360px;
    aspect-ratio: 1;
    
    margin-block: 1em;
  }
  
  &:nth-of-type(2) img {
    transform: scaleX(-1)
  }
  
  & i {
    font-size: var(--fs-300);
  }
}

hr {
  align-self: end;
  border-inline: none;
}

div.footnotes {
  font-size: var(--fs-300);
  color: var(--clr-neutral-700);
  
  justify-self: start;
  text-align: left;
}

div.footnotes ol {
  margin-block: 0;
  padding-inline-start: 1ch;
}

div.footnotes li p {
  text-align: unset;
  max-width: unset;
}

hr {
  width: 100%;
}
