---
layout: page
title: "Work with me"
...

# Hello!

I'm Ronan, and I've been working with computers and computer people on computer issues for almost 25 years now. 
More specifically, I'm good with creating, delivering and scaling software on the Web. From webmaster[^1] to CTO, 
I've always been very hands-on in my approach to any product-related issue a SaaS company can face, like design, 
production, delivery, or security.

Two inflection points have shaped my career. First, as a software developer, was encountering Ruby on Rails 
around 2005 This opened the door to new realm of better, stronger programming, and beyond that of smarter team and 
product management. The other was working closely, for a decade, with experts in management and recruitment. 
This made me better at the other side of scaling a SaaS: gathering people, leading them, and helping them grow.

Wether you need a fractional CTO to help you make decisions on high-level topics like strategy or architecture, 
a mentor for your engineering or product teams, or an experienced developer to boost your productivity, I 
believe that I can help you, and I would love to do that.

The best way to contact me is [by email](mailto:hello@tablefifteen.one), but you can also find me on 
[Mastodon](https:/ruby.social/@r3trofitted),  [GitHub](https://github.com/r3trofitted) or 
[LinkedIn](https://www.linkedin.com/in/r3trofitted). And feel free to keep reading if you want to know 
even more about me.

## Even more about me

I like to say that I’m a teenager in my 40’s, which basically makes me one of 
[the last 10x developers](https://blog.testdouble.com/posts/2023-07-12-the-looming-demise-of-the-10x-developer/), 
if by 10 you mean `0b10` and allow for a generous margin of error.

I'm also a single, part-time dad living in northern France, far away from the Paris area I grew up in, 
and Brittany where my origins are[^2]. I fully embrace my tendency to be a geek among the freaks and a freak among 
the geeks, and I enjoy hanging out with `#RubyFriends` at conferences as much as playing bass alone, and lifting 
weights with my AirPods on as much as playing tabletop RPGs with friends.

On my blog you'll find other themes that hopefully describe me, too: books, podcasts, and of course programming. 
In my Mastodon posts you'll mostly find jokes about my dog.

<div id="table-15-1-people">
  <figure>
    <picture>
      <source type="image/webp" srcset="/assets/table-15.1/ankha-cfo-300.webp 300w, /assets/table-15.1/ankha-cfo-600.webp 600w">
      <source type="image/jpeg" srcset="/assets/table-15.1/ankha-cfo-300.jpeg 300w, /assets/table-15.1/ankha-cfo-600.jpeg 600w">
      <img src="/assets/table-15.1/ankha-cfo-300.jpg" width="300" height="300" alt="Ankha, an affectionate Australian shepard">
    </picture>
    <caption>Ankha, Table 15.1 CFO <i>(Chief Frisbee Officer)</i></caption>
  </figure>
  
  <figure>
    <picture>
      <source type="image/webp" srcset="/assets/table-15.1/ronan-ceeo-300.webp 300w, /assets/table-15.1/ronan-ceeo-600.webp 600w">
      <source type="image/jpeg" srcset="/assets/table-15.1/ronan-ceeo-300.jpeg 300w, /assets/table-15.1/ronan-ceeo-600.jpeg 600w">
      <img src="/assets/table-15.1/ronan-ceeo-300.jpg" width="300" height="300" alt="Ronan, an affectionate French consultant">
    </picture>
    <caption>Ronan, Table 15.1 CEEO <i>(Chief Everything Else Officer)</i></caption>
  </figure>
  
  <p class="contact">
    <a href="mailto:hello@tablefifteen.one">hello@tablefifteen.one</a>
  </p>
</div>


---

[^1]: This is how we used to call full-stack developers, back in the 90's.

[^2]: You'll be glad to know that, allegedly, my first name means “small seal” in Breton.