<header>
  <nav id="primary-nav">
    <ul class="inline-list">
      <li><a href="/">2-45.pm</a></li>
      <li><a href="/work-with-me.html">Work with me</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/articles/">Tech articles</a></li>
    </ul>
  </nav>
</header>
