---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" data-category="{{ page | canonical_category }}">
  <header class="post-header">
    {%- assign series = site.collections | where: "label", page.collection | first -%}
    {%- if series.series_title -%}
    <p class="series-title">
      {{ series.series_title | escape }}, part {{ page.name | slice: 0  }}:&nbsp;
    </p>
    {%- endif -%}
    <h2 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h2>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
