<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/css/table-15-1.css" | relative_url }}">
  
    <!-- <script defer data-domain="2-45.pm" src="https://plausible.io/js/script.js"></script> -->
  </head>

  <body>
    <header>
      <h1>Table 15.1</h1>
    </header>
    <main aria-label="Content">
      {{ content }}
    </main>
  </body>
</html>
