---
layout: blog
...

<div class="home">
  <h2 class="homepage-list-heading">Articles</h2>
  <p>A collection of articles on technical topics.</p>
  <dl class="series-list homepage-list">
    <% for post in site.categories.articles.reverse %>
    <dt class="series-list-title">
      <a class="post-link" href="<%= post.url %>"><%= post.title %></a>
    </dt>
    <dd class="series-lede"><%= post["lede"] %></dd>
    <% end %>
  </dl>
</div>
